# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
#[Xx]64/
#[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
[Ll]ogDog/

# Visual Studio 2015 cache/options directory
.vs/
.vs/SemiconductorVisionAlgorithm/
packages/
*.orig
.idea/

# DNX
project.lock.json
artifacts/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
/Maxwell.Device.DaHua/Maxwell.Controls.PatternTemplate

/.vs/SemiconductorVisionAlgorithm/v15/.suo
/SemiconductorVisionAlgorithm/bin/Debug/SemiconductorVisionAlgorithm.xml
/SemiconductorVisionAlgorithm/IniFileHelper/bin/x64/Debug/IniFileHelper.dll
/SemiconductorVisionAlgorithm/IniFileHelper/bin/x64/Debug/IniFileHelper.pdb
/SemiconductorVisionAlgorithm/IniFileHelper/obj/x64/Debug/IniFileHelper.csproj.CoreCompileInputs.cache
/SemiconductorVisionAlgorithm/IniFileHelper/obj/x64/Debug/IniFileHelper.csproj.FileListAbsolute.txt
/SemiconductorVisionAlgorithm/IniFileHelper/obj/x64/Debug/IniFileHelper.dll
/SemiconductorVisionAlgorithm/IniFileHelper/obj/x64/Debug/IniFileHelper.pdb
/SemiconductorVisionAlgorithm/obj/x64/Debug/SemiconductorVisionAlgorithm.csproj.CoreCompileInputs.cache
/SemiconductorVisionAlgorithm/obj/x64/Debug/SemiconductorVisionAlgorithm.csproj.FileListAbsolute.txt
/SemiconductorVisionAlgorithm/obj/x64/Debug/SemiconductorVisionAlgorithm.dll
/SemiconductorVisionAlgorithm/obj/x64/Debug/SemiconductorVisionAlgorithm.pdb
/MarkLocationApp/Ref
/packages
/UT/gitversion.json
/TestDll/gitversion.json
gitversion.json
UltrapreciseBonding/gitversion.json
/MwTrainTemplate/gitversion.json
/MXVisionAlgorithm/gitversion.json
/Ref/IniFileHelper.dll
/Ref/IniFileHelper.dll
/UTData/Template/templateName/templateName.shm
/UTData/Template/templateName/templateName_BaseCenterPoint.ini
/UTData/Template/templateName/templateName_maskRegion.hobj
/UTData/Template/templateName/templateName_MatchParam.ini
/UTData/Template/templateName/templateName_ShowImg.bmp
/UTData/Template/templateName/templateName_TemplateRegion.hobj
/Ref/IniFileHelper.dll
/UTData/UBT/CalibTable/AutoCalib
/Ref/IniFileHelper.dll
/UTData/UBT/CalibData/defalut_notch
/UTData/UBT/CalibDataT2/CameraLeft_CalibCoordMatrix.ini
/MwTrainTemplate/gitversion.json
/MXVisionAlgorithm/gitversion.json
/UTData/Ransac/HalconResult.xlsx
/MwTrainTemplate/gitversion.json
/UTData/UBT/CalibDataT2/CameraLeft_CalibCoordMatrix.ini
/UTData/UBT/CalibDataT2/CameraRight_CalibCoordMatrix.ini
/UTData/UBT/CalibDataT2/CameraUp_CalibCoordMatrix.ini
/UltrapreciseBondingCpp/version.h
/TestCpp/DongleConfig.ini
