<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.8.0" targetFramework="net461" developmentDependency="true" />
  <package id="GitVersion.MsBuild" version="5.12.0" targetFramework="net461" developmentDependency="true" />
  <package id="MaxwellControl" version="1.1.250423" targetFramework="net461" />
  <package id="MaxwellFramework.AlarmManager" version="1.1.250423" targetFramework="net461" />
  <package id="MaxwellFramework.Core" version="1.1.250423" targetFramework="net461" />
  <package id="MaxwellFramework.Touchable" version="1.1.250423" targetFramework="net461" />
  <package id="MaxwellFramework.TxtLoggerManager" version="3.1.240906" targetFramework="net461" />
  <package id="MwFramework.Base" version="1.0.231228" targetFramework="net461" />
  <package id="MwFramework.Controls.UIControl" version="1.1.250424" targetFramework="net461" />
  <package id="MwFramework.DeviceModule" version="1.0.24.826" targetFramework="net461" />
  <package id="MwFramework.ImageViewer" version="1.1.240826" targetFramework="net461" />
  <package id="MwFramework.Tools" version="1.23.728" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="4.1.0" targetFramework="net461" />
</packages>