<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersion.MsBuild" version="5.12.0" targetFramework="net461" developmentDependency="true" />
  <package id="MaxwellControl" version="1.1.250423" targetFramework="net461" />
  <package id="MaxwellFramework.Core" version="1.1.250423" targetFramework="net461" />
  <package id="MwFramework.Controls.UIControl" version="1.1.231101" targetFramework="net461" />
  <package id="MwFramework.DeviceModule" version="1.0.24.826" targetFramework="net461" />
  <package id="MwFramework.ImageViewer" version="1.1.240826" targetFramework="net461" />
</packages>